.slider-container {
    position: relative;
    width: 100%; 
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider-item {
    width: 35px;
    height: 51px;
    padding: 4px 8px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #4566EC; 
    margin: 10px; 
}
.slider-item p {
    margin: 0; /* Ensure paragraphs don't add extra margin */
    font-size: 12px; /* Adjust font size to fit in small width */
    text-align: center; /* Align text in the center */
    line-height: 1.2; /* Adjust line height for better readability */
    white-space: normal; /* Allow text wrapping if needed */
}

.special{
    width: 39px;
    height: 63px;
    padding: 6px 8px; 
    background-color: #4566EC; 
    margin: 15px; 
    box-sizing: border-box;
}

.child-slider-container {
    position: relative;
    align-items: center;
}


